/*
  v1.0 - published 2017-01-20
  Copyright 2017 Isaac Halvorson
  Contact me at: isaac@level.software
*/

/*----------------------------- GENERAL STYLING ------------------------------*/
/*------------- Some styling based on Skeleton (getskeleton.com) -------------*/

html { font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

main {
  max-width: 550px;
  margin: 0 auto;
}

hr {
  border-width: 0;
  border-top: 1px solid #e1e1e1;
  margin-top: 20px;
}

a { color: #1EAEDB; }
a:hover { color: #0FA0CE; }
.center { text-align: center; }
.big { font-size: xx-large; }
.big a { text-decoration: none; }
